<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'myapp/css/styles.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav class='bg-white' style='border-bottom: 1px solid #EBEBEB;'>
        <div class='max-w-6x1 mx-auto px-4'>
            <div class='flex justify-between'>
                <div class='flex space-x-7'>
                    <div>
                        <a href="{% url "myapp:homepage" %}" class='flex items-center px-2 py-4'>
                            <span class='text-gray-700 text-xl font-bold'>LiteShop</span>
                        </a>
                    </div>
                    <div class='items-center flex space-x-1'>
                        <a href="{% url 'myapp:homepage' %}" class='py-4 px-2 text-gray-500 font-semibold'>Home</a>
                        {% if user.is_authenticated %}
                            <a class="py-4 px-2 text-gray-500 font-semibold" href="{% url 'users:profile' %}">Profile</a>
                            <a class="py-4 px-2 text-gray-500 font-semibold" href="{% url 'users:logout' %}">Logout</a>
                        {% else %}
                            <a class="py-4 px-2 text-gray-500 font-semibold" href="{% url 'users:login' %}">Login</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {% block content %}
    
    {% endblock content %}
</body>
</html>