<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'myapp/css/styles.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav class='bg-white shadow-lg'>
        <div class='max-w-6x1 mx-auto px-4'>
            <div class='flex justify-between'>
                <div class='flex space-x-7'>
                    <div>
                        <a href="#" class='flex items-center px-2 py-4'>
                            <img class='h-8 w-8' src="{% static 'myapp/images/logo.svg' %}" alt="logo">
                            <span class='text-gray-500 text-xl font-bold'>LiteShop</span>
                        </a>
                    </div>
                    <div class='items-center flex space-x-1'>
                        <a href="#" class='py-4 px-2 text-gray-500 font-semibold border-b-2 border-green-500'>Home</a>
                        <a href="#" class='py-4 px-2 text-gray-500 font-semibold'>About</a>
                        <a href="#" class='py-4 px-2 text-gray-500 font-semibold'>Contacts</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {% block content %}
    
    {% endblock content %}
</body>
</html>